@import "../../common";

.users-table {
    thead {
        tr {
            th {
                font-weight: bold;
                border: none;
            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;
            }
        }
    }
}