.users-table {
    thead {
        tr {
            th {
                font-weight: bold;
                border: none;
            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;
            }
        }
    }
}

.end-catalog {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin: 0.5rem 0 2.5rem 0;
}