@import "scss/css-reset";
@import "scss/variables";
@import "~bootstrap/scss/bootstrap";

html {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-weight: 300;

	body {
		padding-top: 4rem;
		background-color: $color-background;
		color: $color-black;

		#root {
			display: flex;
			flex-direction: column;
		}
	}
}
