@import "scss/css-reset";
@import "scss/variables";
@import "~bootstrap/scss/bootstrap";

html {
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-weight: 300;

	body {
		padding-top: 4rem;
		background-color: $color-background;
		color: $color-black;
		height: 100%;

		#root {
			height: 100%;
			display: flex;
			flex-direction: column;
		}
	}
}
